pyrogram
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
carbonnow==0.0.1
Pillow>=4.2.0
ffmpeg-python
telegraph
Pymoe
pendulum
pyshorteners
pytesseract
requests
wget
gtts
aiofiles
bs4
speedtest-cli
cinemagoer
googletrans==4.0.0-rc1
countryinfo
datetime
pytz
aiohttp





